body {
  margin: 0;
  font-family: lora;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

header img {
  width: 50px;
  font-family: lora;
  font-weight: lighter;
}

main {
  background-image: url("../images/background.jpeg");
  z-index: -2;
}
