@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Young+Serif&display=swap");

body {
  margin: 0;
  font-family: lora;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

header img {
  font-family: lora;
  font-weight: lighter;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #333;
  color: #fff;
  height: 80px;
  letter-spacing: 1px;
}

main {
  background-image: url("../images/background.jpeg");
  display: flex;
  flex-direction: column;
  align-items: center;
}

test {
  background-color: #333;
}
