#button1 {
  background-color: #c5b0d8;
  color: white;
  font-family: monospace;
}

#button2 {
  background-color: #c5b0d8;
  color: white;
  font-family: monospace;
}

#button3 {
  background-color: #c5b0d8;
  color: white;
  font-family: monospace;
}

#skipbutton {
  background-color: #c5b0d8;
  color: white;
  font-family: monospace;
}

#showResults {
  background-color: #c5b0d8;
  color: white;
  font-family: monospace;
}
