@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Young+Serif&display=swap");

@font-face {
  font-family: blackphantom;
  src: url("../CSS/BlackPhantomPersonalUseOnlyRegular-51ReZ.otf")
    format("opentype");
}

body {
  margin: 0px auto 0px auto;
  font-family: lora;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #333;
  color: #fff;
  height: 80px;
  letter-spacing: 1px;
}

header img {
  width: 120px;
  height: auto;
  font-family: lora;
  font-weight: lighter;
}

nav ul {
  list-style: none;
  display: flex;
  font-family: lora;
  font-weight: lighter;
  letter-spacing: 1.5px;
}

nav li {
  margin-right: 15px;
  font-family: lora;
  font-weight: lighter;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-family: lora;
  font-weight: lighter;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/background.jpeg");
  z-index: auto;
}

#buttons {
  margin-top: 50px;
}

.subheading {
  display: flex;
  justify-content: center;
  font-family: lora;
  font-weight: 500;
}

h2 {
  font-size: 50px;
  display: flex;
  justify-content: center;
  font-family: lora;
  font-weight: 600;
  padding: 100px 0px 0px 0px;
  margin-bottom: 30px;
}

button:hover {
  background: #2196f3;
  color: white;
}

canvas {
  max-width: 800px;
  max-height: 1000px;
  margin-top: 30px;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px;
  background-color: #333;
  color: #fff;
  height: 80px;
  letter-spacing: 1px;
}

footer a {
  display: flex;
  margin: 10px;
  color: #fff;
  margin-right: 15px;
  font-family: lora;
  font-weight: lighter;
  text-decoration: none;
}

#resultDiv {
  margin: 10px 10px 10px 10px;
  padding: 20px;
  font-family: lora;
  font-style: italic;
  line-height: 20px;
  text-align: center;
}
