@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Young+Serif&display=swap");

#inkblotarea {
  /* do not delete or change the proportions :) */
  height: 462px;
  width: 666px;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
}

.rotate {
  animation-name: rotate;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: lora;
}
main {
  background-image: url("../images/background.jpeg");
  z-index: 0;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

header img {
  max-width: 100%;
  height: auto;
  font-family: lora;
  font-weight: lighter;
}

nav ul {
  list-style: none;
  display: flex;
  font-family: lora;
  font-weight: lighter;
  letter-spacing: 1.5px;
}

nav li {
  margin-right: 15px;
  font-family: lora;
  font-weight: lighter;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-family: lora;
  font-weight: lighter;
}

h1 {
  font-size: 100px;
  display: flex;
  justify-content: center;
  padding: 150px 0px 30px 0px;
  font-family: lora;
  font-weight: bold;
}

.subheading {
  display: flex;
  justify-content: center;
  font-family: lora;
  font-weight: 500;
}

h2 {
  font-size: 30px;
  display: flex;
  justify-content: center;
  font-family: lora;
  font-weight: 600;
  padding: 100px 0px 0px 0px;
}

#nameForm {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-family: lora;
  font-weight: lighter;
}

#messageDiv {
  display: flex;
  justify-content: center;
  font-family: lora;
  font-weight: lighter;
  margin: auto;
  padding: 50px 100px 100px 50px;
  word-spacing: 5px;
  line-height: 30px;
  text-align: center;
}

button {
  border-color: #2196f3;
  color: rgb(0, 0, 0);
  border: none;
  font-family: lora;
  font-weight: 500;
  display: inline-block;
  margin: 0rem 0rem 0rem 0.5rem;
  padding: 10px;
}

#buttonarea {
  display: flex;
  justify-content: center;
  padding: 15px;
}

#letsgo {
  display: flex;
  justify-content: center;
  padding: 15px;
}

#showResults {
  display: flex;
  justify-content: center;
  padding: 15px;
}

button:hover {
  background: #2196f3;
  color: white;
}

input {
  font-family: lora;
  font-weight: 500;
  padding: 5px 30px 5px 80px;
  border: 1px solid #676767;
  color: #676767;
}

.hidden {
  display: none !important;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

footer a {
  display: flex;
  margin: 10px;
  color: #fff;
  margin-right: 15px;
  font-family: lora;
  font-weight: lighter;
  text-decoration: none;
}
