@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Young+Serif&display=swap");

#inkblotarea {
  /* do not delete or change the proportions :) */
  z-index: -1;
  margin: 50px auto 10px auto;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  max-height: 600px;
  background: radial-gradient(#2195f330, #9198e500);
  border-radius: 100%;
  align-items: center;
  border: 1px solid #2196f3;
}

#inkblotarea img {
  max-width: 550px;
  max-height: 550px;
}

.rotate {
  animation-name: rotate;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: lora;
}
main {
  background-image: url("../images/background.jpeg");
  z-index: 0;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px;
  background-color: #333;
  color: #fff;
  height: 80px;
  letter-spacing: 1px;
}

header img {
  max-width: 100%;
  height: auto;
  font-family: lora;
  font-weight: lighter;
}

nav ul {
  list-style: none;
  display: flex;
  font-family: lora;
  font-weight: lighter;
  letter-spacing: 1.5px;
}

nav li {
  margin-right: 15px;
  font-family: lora;
  font-weight: lighter;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-family: lora;
  font-weight: lighter;
}

#headlines {
  padding: 50px 0px 50px 0px;
}

.subheading {
  display: flex;
  justify-content: center;
  font-family: lora;
  font-weight: 500;
  color: #333;
}

#nameForm {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-family: lora;
  font-weight: lighter;
}
#name {
  min-width: 250px;
  min-height: 40px;
  font-size: 20px;
}

#messageDiv {
  display: flex;
  justify-content: center;
  font-family: lora;
  font-weight: lighter;
  margin: auto;
  padding: 50px 100px 10px 50px;
  word-spacing: 5px;
  line-height: 30px;
  text-align: center;
}

#buttonarea {
  display: flex;
  justify-content: center;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  width: 666px;
  margin: 0px auto;
}

#buttonarea div {
  display: flex;
  justify-content: center;
  padding: 15px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#letsgo {
  display: flex;
  justify-content: center;
  padding: 15px;
}

#showResults {
  display: flex;
  justify-content: center;
  padding: 15px;
  flex-direction: column;
  align-items: center;
}

input {
  font-family: lora;
  font-weight: 500;
  padding: 5px 30px 5px 80px;
  border: 1px solid #676767;
  color: #676767;
}

.hidden {
  display: none !important;
}
